<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CinemaLogic2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28F895931DC766E50075C51B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F895AA1DC766E50075C51B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F895B51DC766E50075C51B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
