<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<integer>1</integer>
			<string>а</string>
		</array>
		<array>
			<integer>2</integer>
			<string>б</string>
		</array>
		<array>
			<integer>3</integer>
			<string>в</string>
		</array>
		<array>
			<integer>4</integer>
			<string>г</string>
		</array>
		<array>
			<integer>5</integer>
			<string>д</string>
		</array>
		<array>
			<integer>6</integer>
			<string>е</string>
		</array>
		<array>
			<integer>7</integer>
			<string>ё</string>
		</array>
		<array>
			<integer>8</integer>
			<string>ж</string>
		</array>
		<array>
			<integer>9</integer>
			<string>з</string>
		</array>
		<array>
			<integer>10</integer>
			<string>и</string>
		</array>
		<array>
			<integer>11</integer>
			<string>й</string>
		</array>
		<array>
			<integer>12</integer>
			<string>к</string>
		</array>
		<array>
			<integer>13</integer>
			<string>л</string>
		</array>
		<array>
			<integer>14</integer>
			<string>м</string>
		</array>
		<array>
			<integer>15</integer>
			<string>н</string>
		</array>
		<array>
			<integer>16</integer>
			<string>о</string>
		</array>
		<array>
			<integer>17</integer>
			<string>п</string>
		</array>
		<array>
			<integer>18</integer>
			<string>р</string>
		</array>
		<array>
			<integer>19</integer>
			<string>с</string>
		</array>
		<array>
			<integer>20</integer>
			<string>т</string>
		</array>
		<array>
			<integer>21</integer>
			<string>у</string>
		</array>
		<array>
			<integer>22</integer>
			<string>ф</string>
		</array>
		<array>
			<integer>23</integer>
			<string>х</string>
		</array>
		<array>
			<integer>24</integer>
			<string>ц</string>
		</array>
		<array>
			<integer>25</integer>
			<string>ч</string>
		</array>
		<array>
			<integer>26</integer>
			<string>ш</string>
		</array>
		<array>
			<integer>27</integer>
			<string>щ</string>
		</array>
		<array>
			<integer>28</integer>
			<string>ъ</string>
		</array>
		<array>
			<integer>29</integer>
			<string>ы</string>
		</array>
		<array>
			<integer>30</integer>
			<string>ь</string>
		</array>
		<array>
			<integer>31</integer>
			<string>э</string>
		</array>
		<array>
			<integer>32</integer>
			<string>ю</string>
		</array>
		<array>
			<integer>33</integer>
			<string>я</string>
		</array>
	</array>
</array>
</plist>
